.main-body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 244, 248);
}

.left-nav {
    width: 10vw;
    min-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
}

.mentor-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
}

.mentor-profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid cyan;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mentor-profile-name {
    margin-top: 10px;
}

.nav-item {
    padding: 3px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
}

.nav-item-active {
    color: blue;
}

.nav-item:hover {
    cursor: pointer;
}

.right-main {
    width: 100%;
    height: 100vh;
    padding-left: 5vw;
    overflow: scroll;
}

@media (max-width: 1024px) {
    .left-nav {
        width: 20vw;
    }

    .mentor-profile-img {
        height: 70px;
        width: 70px;
    }
}